<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%
      require('babel-register');
      const render = require('./render')
    %>
    <main><%= render() %></main>
  </body>
</html>
